<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- level="off": Monitoring ausschalten
             level="info": Monitoring einschalten -->
        <Logger name="monitoring" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="off">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>